.manualContainer {
  width: 575px;
  height: 600px;
}

.manualButtonContainer {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.closeButton {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: larger;
  border: 0ch;
  text-decoration: none;
  color: black;
}

.closeButton:hover {
  cursor: pointer;
  color: rgb(53, 47, 47);
}

.header {
  text-align: center;
  margin: 0;
}
