<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainMenu</title>
</head>
<body>
    <div id="mainMenu">
        <img src="/static/images/Schatzinsel_Überschrift.png" width = "500px">
        <nav>
          <a href="/game" class="button" data-link>
            Spiel starten
          </a>
          <a href="/manual" class="button" data-link>
            Handbuch öffnen
          </a>
        </nav>
      </div>
</body>
</html>